/* Basic styling */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
    height: 100%;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: rgba( 0, 0, 0, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}

h2 {
    color: aliceblue;
}

.input-group {
    display: flex;
    justify-content: space-between;
    /* Add space between items */
    align-items: center;
    /* Center align items vertically */
    margin-bottom: 20px;
}

.input-group input[type="text"],
.input-group input[type="datetime-local"],
.input-group button {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.input-group input[type="text"],
.input-group input[type="datetime-local"] {
    flex: 1;
    margin-left: 5px;
    border: 1px solid black;
    
}

.input-group input[type="text"]{
    padding: 11px;
}

/* .input-group button {
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    margin-left: 5px;
    padding: 12px;
    border: none;
} */

.input-group button {
    position: relative;
    padding: 11px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background:rgba(6, 193, 244, 0.432);
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-left: 5px;
  }
  
  .input-group button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .input-group button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .input-group button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .input-group button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  

.task-list {
    list-style-type: none;
    padding: 0;
}

.task {
    position: relative;
    /* Position task items relative to the container */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.completed-task {
    background-color: #d4edda;
    color: #155724;
    text-decoration: line-through;
}

.overdue-task {
    background-color: #f8d7da;
    color: #721c24;
}

.delete-button,
.undo-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    /* Position absolutely */
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.delete-button:hover,
.undo-button:hover {
    background-color: red;
}

.complete-button {
    background-color: green;
    /* Set complete button color to green */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    /* Position absolutely */
    top: 50%;
    right: 80px;
    /* Adjust position to avoid overlapping */
    transform: translateY(-50%);
}

.complete-button:hover {
    background-color: #0056b3;
}

.ct {
    background-color: #0056b3;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    border: none;
}

.text{
    display: block;
    width: 400px;
    word-wrap: break-word;
}

#completionPercentage {
    color: aliceblue;
}

@media only screen and (max-width: 768px) {
    body {
        height: 100%;
        min-height: 100vh;
    }

    .input-group {
        flex-direction: column;
        /* Change flex direction to column */
        align-items: center;
    }

    .input-group input[type="text"],
    .input-group input[type="datetime-local"],
    .input-group button {
        width: 100%;
        /* Set input and button width to 100% */
        margin-bottom: 10px;
        /* Remove margin between input fields and buttons */
        align-items: center;
    }


    .delete-button,
    .undo-button {
        right: -26px;
        /* Reset right positioning */
        /* left: 50%; Move buttons to the left */
        transform: translateX(-50%) translateY(-50%);
        /* Center horizontally and vertically */

    }

    .complete-button {
        right: 65px;
    }

    .task {
        font-size: 12px; 
    }

    .text{
        width: 160px;
    }
}